<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
  </head>
  <body>
    <h2><a href="/">Link</a></h2>
    <h2><a href="/explore/">explore</a></h2>
    <h2><a href="/users/{{logname}}/">{{logname}}</a></h2>
    <h1><b>Discover People</b></h1>
    {% for follow in not_following %}
    <div>
      <img src="/uploads/{{ follow['filename'] }}" alt="profile pic" />
      <h2>
        <a href="/users/{{follow['username']}}/">{{follow['username']}}</a>
      </h2>
      <form
        action="/following/?target={{url_for('show_index')}}"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="submit" name="follow" value="follow" />
        <input type="hidden" name="username" value="{{follow['username']}}" />
        <input type="hidden" name="operation" value="follow" />
      </form>
    </div>
    {% endfor %}
  </body>
</html>
