<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
  </head>
  <body>
    <h2><a href="/">Link</a></h2>
    <h2><a href="/accounts/login/">Login</a></h2>
    <form
      action="/accounts/?target={{url_for('show_index')}}"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="text" name="username" required />
      <input type="password" name="password" required />
      <input type="submit" value="login" />
      <input type="hidden" name="operation" value="login" />
    </form>
    <h2>Don't have an account? <a href="/accounts/create/"><b>Sign up</b></a></h2>
  </body>
</html>
